In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.set_option('display.max_columns', None) # we want to display all columns in this notebook
pd.set_option('display.max_rows', 500)

# aesthetics
default_color_1 = 'darkblue'
default_color_2 = 'darkgreen'
default_color_3 = 'darkred'

In [3]:
os.chdir('./..')

In [4]:
path_training = "data/parquet_files/train"
train_base_path = os.path.join(path_training, "train_base.parquet")

In [5]:
df_train = pd.read_parquet(train_base_path)

In [6]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1526659 entries, 0 to 1526658
Data columns (total 5 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   case_id        1526659 non-null  int64
 1   date_decision  1526659 non-null  object
 2   MONTH          1526659 non-null  int64
 3   WEEK_NUM       1526659 non-null  int64
 4   target         1526659 non-null  int64
dtypes: int64(4), object(1)
memory usage: 58.2+ MB

In [7]:
df_train.describe(include='all')

             case_id date_decision         MONTH      WEEK_NUM        target
count   1.526659e+06       1526659  1.526659e+06  1.526659e+06  1.526659e+06
unique           NaN           644           NaN           NaN           NaN
top              NaN    2019-11-29           NaN           NaN           NaN
freq             NaN          8812           NaN           NaN           NaN
mean    1.286077e+06           NaN  2.019363e+05  4.076904e+01  3.143728e-02
std     7.189466e+05           NaN  4.473597e+01  2.379798e+01  1.744964e-01
min     0.000000e+00           NaN  2.019010e+05  0.000000e+00  0.000000e+00
25%     7.661975e+05           NaN  2.019060e+05  2.300000e+01  0.000000e+00
50%     1.357358e+06           NaN  2.019100e+05  4.000000e+01  0.000000e+00
75%     1.739022e+06           NaN  2.020010e+05  5.500000e+01  0.000000e+00
max     2.703454e+06           NaN  2.020100e+05  9.100000e+01  1.000000e+00

In [ ]:
# plot MONTH distribution
plt.figure(figsize=(8,3))
df_train.MONTH.value_counts().sort_index().plot(kind='bar', color=default_color_1)
plt.title('MONTH')
plt.grid()
plt.show()