In [3]:
import polars as pl

dataPath = "../data/"

In [4]:
train_tax_registry_provider_a = pl.read_parquet(dataPath + "parquet_files/train/train_tax_registry_a_1.parquet")
train_tax_registry_provider_b = pl.read_parquet(dataPath + "parquet_files/train/train_tax_registry_b_1.parquet")
train_tax_registry_provider_c = pl.read_parquet(dataPath + "parquet_files/train/train_tax_registry_c_1.parquet")

In [5]:
train_tax_registry_provider_a.shape

(3275770, 5)

In [6]:
train_tax_registry_provider_b.shape

(1107933, 5)

In [7]:
train_tax_registry_provider_c.shape

(3343800, 5)

The columns are different for the tables. We cannot concatenate naively.

In [19]:
column_total = list(set(train_tax_registry_provider_a.columns + train_tax_registry_provider_b.columns + train_tax_registry_provider_c.columns))
column_total.sort()

In [20]:
column_total

['amount_4527230A',
 'amount_4917619A',
 'case_id',
 'deductiondate_4917603D',
 'employername_160M',
 'name_4527232M',
 'name_4917606M',
 'num_group1',
 'pmtamount_36A',
 'processingdate_168D',
 'recorddate_4527225D']

In [22]:
train_tax_registry_provider_b.head

<bound method DataFrame.head of shape: (1_107_933, 5)
┌─────────┬─────────────────┬────────────────────────┬───────────────┬────────────┐
│ case_id ┆ amount_4917619A ┆ deductiondate_4917603D ┆ name_4917606M ┆ num_group1 │
│ ---     ┆ ---             ┆ ---                    ┆ ---           ┆ ---        │
│ i64     ┆ f64             ┆ str                    ┆ str           ┆ i64        │
╞═════════╪═════════════════╪════════════════════════╪═══════════════╪════════════╡
│ 49435   ┆ 6885.0          ┆ 2019-10-16             ┆ 6b730375      ┆ 7          │
│ 49435   ┆ 6885.0          ┆ 2019-10-16             ┆ 6b730375      ┆ 1          │
│ 49435   ┆ 6885.0          ┆ 2019-10-16             ┆ 6b730375      ┆ 8          │
│ 49435   ┆ 6885.0          ┆ 2019-10-16             ┆ 6b730375      ┆ 3          │
│ 49435   ┆ 6885.0          ┆ 2019-10-16             ┆ 6b730375      ┆ 4          │
│ …       ┆ …               ┆ …                      ┆ …             ┆ …          │
│ 2703452 ┆ 7290.0          ┆ 2020-06-11             ┆ ad68e80f      ┆ 2          │
│ 2703452 ┆ 10638.0         ┆ 2020-08-05             ┆ ad68e80f      ┆ 4          │
│ 2703452 ┆ 15552.0         ┆ 2020-07-07             ┆ 3ba7682e      ┆ 3          │
│ 2703452 ┆ 6033.6          ┆ 2020-05-05             ┆ 5502675a      ┆ 0          │
│ 2703452 ┆ 15228.0         ┆ 2020-06-11             ┆ ad68e80f      ┆ 1          │
└─────────┴─────────────────┴────────────────────────┴───────────────┴────────────┘>

In [12]:
train_tax_registry_provider_a.head

<bound method DataFrame.head of shape: (3_275_770, 5)
┌─────────┬─────────────────┬───────────────┬────────────┬─────────────────────┐
│ case_id ┆ amount_4527230A ┆ name_4527232M ┆ num_group1 ┆ recorddate_4527225D │
│ ---     ┆ ---             ┆ ---           ┆ ---        ┆ ---                 │
│ i64     ┆ f64             ┆ str           ┆ i64        ┆ str                 │
╞═════════╪═════════════════╪═══════════════╪════════════╪═════════════════════╡
│ 28631   ┆ 1946.0          ┆ f980a1ea      ┆ 2          ┆ 2019-09-13          │
│ 28631   ┆ 711.0           ┆ f980a1ea      ┆ 3          ┆ 2019-09-13          │
│ 28631   ┆ 3616.4001       ┆ f980a1ea      ┆ 0          ┆ 2019-09-13          │
│ 28631   ┆ 2600.0          ┆ f980a1ea      ┆ 1          ┆ 2019-09-13          │
│ 28632   ┆ 2564.0          ┆ 5f9b74f5      ┆ 5          ┆ 2019-09-13          │
│ …       ┆ …               ┆ …             ┆ …          ┆ …                   │
│ 2701515 ┆ 356.0           ┆ 5e180ef0      ┆ 7          ┆ 2020-10-09          │
│ 2701515 ┆ 479.80002       ┆ 5e180ef0      ┆ 6          ┆ 2020-10-09          │
│ 2702290 ┆ 850.0           ┆ 94721311      ┆ 1          ┆ 2020-10-13          │
│ 2702290 ┆ 850.0           ┆ 94721311      ┆ 2          ┆ 2020-10-13          │
│ 2702290 ┆ 850.0           ┆ 94721311      ┆ 0          ┆ 2020-10-13          │
└─────────┴─────────────────┴───────────────┴────────────┴─────────────────────┘>

In [ ]:
['amount_4527230A',
 'amount_4917619A',
 'case_id',
 'deductiondate_4917603D',
 'employername_160M',
 'name_4527232M',
 'name_4917606M',
 'num_group1',
 'pmtamount_36A',
 'processingdate_168D',
 'recorddate_4527225D']

In [25]:
train_tax_registry_provider_c.columns

['case_id',
 'employername_160M',
 'num_group1',
 'pmtamount_36A',
 'processingdate_168D']

Features: 

- 'case id': not clear why is related to the loan? 
- 'name_4527232M', 'name_4917606M': name of the employee
- 'num_group1' historic index. To understand. 
- pmtamount_36A: amount of tax deduction by bureau 


!!! THESE COLUMNS ARE PROBABLY THE SAME

- 'deductiondate_4917603D': tax deduction date (table b)
- 'processingdate_168D': when the tax deduction was made (table c)
- 'recorddate_4527225D': record date of taxe deduction.  (table a)